<h1>Enter Your Name:</h1>
<form action="/contact_submitted">
	<p>
	  <input name="firstName" type="text" placeholder="First Name"> 
	  <input name="lastName" type="text" placeholder="Last Name"> 
	  <input type="submit">
	</p>
</form>  
